body{
    text-align: center;
    background: #f0f3bd;
    color: #05668d;
}
#capa{
    width: 100%;
}
#titulos{
    background-color: #02c39a;
}
#convite{
    font-size: 25px;
    color: #f0f3bd;
    background-color: #028090;
}
